<robot name="none">
       <link name="none">
           <visual>
               <origin rpy="1.57 0 0" xyz="0 0 0" />
               <geometry>
                   <mesh filename="crate.obj" />
               </geometry>
           </visual>
          <collision>
              <geometry>
                  <box size="1.000000 0.989746 0.981686" />
              </geometry>
          </collision>

          <inertial>
            <mass value="0.0" />
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
          </inertial>
      </link>
  </robot>